%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to "Matic", root_path, class: 'navbar-brand'
  %ul.navbar-nav.my-2.my-lg-0.ml-auto
    %li.nav-item.active.right
      = link_to "Imports", imports_path, class: 'nav-link'


