%h4
  Created imports
%table.table
  %thead
    %tr
      %th Title
      %th{'colspan' => 2} Actions
  %tbody
    - @created_imports.each do |import|
      %tr
        %td
          = import.title
        %td
          = link_to "Start", start_import_path(import), method: :post
        %td
          Delete

