%h4
  Created imports
%table.table
  %thead
    %tr
      %th Title
      %th{'colspan' => 3, 'align' => 'right'}
  %tbody
    - @created_imports.each do |import|
      %tr
        %td
          = import.title
        %td{'align' => 'right'}
          = link_to "Start", start_import_path(import), method: :post
          Delete
          Edit

